asgiref==3.5.2
async-generator==1.10
attrs==21.4.0
autobahn==22.6.1
Automat==20.2.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
cffi==1.15.1
channels==3.0.5
charset-normalizer==2.0.12
colorama==0.4.4
constantly==15.1.0
cryptography==37.0.4
daphne==3.0.2
distlib==0.3.4
dj-database-url==1.0.0
Django==4.0.5
django-heroku==0.3.1
django-taggit==1.2.0
et-xmlfile==1.1.0
filelock==3.7.1
gunicorn==20.1.0
h11==0.13.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
jdcal==1.4.1
openpyexcel==2.5.14
outcome==1.2.0
Pillow==9.2.0
platformdirs==2.5.2
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.0.0
PyQRCode==1.2.1
PySocks==1.7.1
python-decouple==3.6
requests==2.27.1
selenium==4.3.0
service-identity==21.1.0
six==1.16.0
sniffio==1.2.0